{% extends 'Base_datos/base.html' %}

{% block contenido %}
    <div style="margin: 1%; width: 95%; display: flex">
        <div>
            <h2 style="font-weight: bold">Envíos en Curso</h2>
        </div>
        <div style="margin-left: auto">
            <a class="btn btn-primary btn-lg" style="justify-content: flex-end;" href="{% url 'correo' %}" type="submit">Volver</a>
        </div>
    </div>

    <div style="margin: 0; padding: 0; display: grid ;place-items: center">
        <table style="width: 95%; margin-left: 5%">
            <thead>
                <tr>
                    <th>Destinatario</th>
                    <th>Fecha de envío</th>
                    <th>Dirección</th>
                    <th>Número de Seguimiento</th>                    
                </tr>
            </thead>
            <tbody>
                {% for cor in object_list %}
                    {% if not cor.acuse %}
                        <tr>
                            <td style="padding-bottom: 1%; font-size: small;">{{cor.destinatario}}, {{cor.nombre}}</td>
                            <td style="text-transform: uppercase; padding-bottom: 1%">{{cor.envio}}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{cor.direccion}}</td>
                            <td style="padding-bottom: 1%;">{{ cor.seguimiento}}</td>
                            <td style="padding-bottom: 1%;">
                                <a class="link" href="{% url 'actualizar_correo' cor.id %}" type="submit">Abrir</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
{% endblock %}
