{% extends 'Base_datos/base.html' %}

{% block contenido %}
    <div style="margin: 1%; width: 95%; display: flex">
        <div>
            <h2 style="font-weight: bold">Envíos en Finalizados</h2>
        </div>
        <div style="margin-left: auto">
            <a class="btn btn-primary btn-lg" style="justify-content: flex-end;" href="{% url 'correo' %}" type="submit">Volver</a>
        </div>
    </div>

    <div style="margin: 0; padding: 0; display: grid ;place-items: center">
        <table class='table borderless' style="width: 95%; margin-left: 5%; text-align: center">
            <thead>
                <tr>
                    <th>Destinatario</th>
                    <th>Documento N°</th>
                    <th>Carnet N°</th>
                    <th>Categoría</th>
                    <th>Fecha de envío</th>
                    <th>Dirección</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                    <th>Número de Seguimiento</th>
                    <th>Acuse de Recibo</th>
                </tr>
            </thead>
            <tbody>
                {% for cor in corre %}
                    {% if cor.acuse %}
                        <tr>
                            <td style="padding-bottom: 1%;">{{cor.destinatario}}, {{cor.nombre}}</td>
                            <td style="padding-bottom: 1%;">{{cor.dni}}</td>
                            <td style="padding-bottom: 1%;">{{cor.carnet}}</td>
                            <td style="padding-bottom: 1%;">{{cor.categoria}}</td>
                            <td style="text-transform: uppercase; padding-bottom: 1%">{{cor.envio}}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{cor.direccion}}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{cor.localidad}}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{cor.provincia}}</td>
                            <td style="padding-bottom: 1%;">{{ cor.seguimiento}}</td>
                            <td style="padding-bottom: 1%;">IF-{{ cor.año_acuse }}-{{ cor.acuse }}-APN-ISER o ACAD#ENACOM</td>
                            <td style="padding-bottom: 1%;">
                                <a class="link" href="{% url 'actualizar_correo' cor.id %}" type="submit">Abrir</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p></p>
{% endblock %}
