{% extends 'Base_datos/base.html' %}

{% block contenido %}

<h1 class="mt-4 text-center">Nuevo Libro de Actas</h1>

<form class="mt-4" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <table align='center'>
        <tr>
            <th style='text-align:center'>
                Nombre del Instituto
            </th>
        </tr>
        <tr>
            <td>
                <span>{{form.nombre}}</span>
            </td>
        </tr>
    </table>
    <p></p>
    <div class='text-center mt-4'>
        <button type='submit' class='btn btn-primary'>Aceptar</button>
    </div>
    <p></p>
</form>


{% endblock %}