{% extends 'Base_datos/base.html' %}

{% block contenido %}
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'nuevo_libro' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-journal-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Nuevo Libro de Actas</h2>
                            <p class="mb-0">Creación de un nuevo Libro de Actas</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'listar_libros' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-journals"></i></div>
                            <h2 class="fs-4 fw-bold">Libros de Actas</h2>
                            <p class="mb-0">Listado de Libros de Actas de los Institutos Adscriptos</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'nueva_firma' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-journal-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Nuevo Profesor</h2>
                            <p class="mb-0">Carga de firma de profesores</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'nueva_acta' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-file-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Nueva Acta de Examen</h2>
                            <p class="mb-0">Creación de Acta de Ingreso o Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
</section>
{% endblock %}