{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-weight: bold; margin: 0;">Expedientes en Curso</h2>
    <a class="btn btn-primary btn-lg" style="justify-content: flex-end;" href="{% url 'expedientes' %}" type="submit">Volver</a>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <table class='table borderless' style="width: 95%; margin-left: 5%;">
        <thead style="text-align: center">
            <tr>
                <th>Expediente</th>
                <th>Categoría</th>
                <th>Habilitados</th>
                <th>Instituto o Localidad</th>
                <th>Fecha de Caratulación</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
            {% for exp in object_list %}
                {% if exp.Estado != 'Finalizado' %}
                    <tr>
                        <td style="padding-bottom: 1%;">EX-{{exp.Año_de_Expediente}}-{{exp.Número_de_Expediente}}- -APN-SDYME#ENACOM</td>
                        <td style="text-transform: uppercase; padding-bottom: 1%;">{{exp.Categoría}}</td>
                        <td style="text-transform: uppercase; padding-bottom: 1%;">{{exp.Cantidad_de_Habilitados}}</td>
                        <td style="text-transform: capitalize; padding-bottom: 1%;">{{exp.Instituto_o_Localidad}}</td>
                        <td style="padding-bottom: 1%;">{{ exp.Fecha_de_Creación}}</td>
                        <td style="padding-bottom: 1%;">{{exp.Estado}}</td>
                        <td style="text-transform: uppercase; padding-bottom: 1%;">{{exp.Instituto}}</td>
                        <td style="padding-bottom: 1%;">
                            <a class="link" href="{% url 'actualizar_expediente' exp.id %}" type="submit">Abrir</a>
                            {% if user.is_superuser %}
                                -
                                <a class="link" href="{% url 'borrar_expediente' exp.id %}" type="submit">Borrar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<p></p>
{% endblock %}
