{% extends 'Base_datos/base.html' %}

{% block contenido %}

<style>
    /* Define el tamaño de las cajas de entrada */
    .input-small {
        width: 65px; /* Define el ancho deseado */
    }

    .input-large {
        width: 110px; /* Define el ancho deseado */
    }
</style>

<h1 style="text-align: center;">Expedientes</h1>

<p></p>

<div style="text-align: center;">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
    <div class='container'>
        <table class='table borderless'>
            <tr>
                <td>Fecha de Caratulación: {{form.Fecha_de_Creación}}</td>
            </tr>
        </table>
        <table class='table borderless'>
            <tr>
                <td>EX-{{ form.Año_de_Expediente }}-{{ form.Número_de_Expediente }}- -APN-SDYME#ENACOM</td>
                <td>Categoría: {{ form.Categoría }}</td>
                <td>Habilitados: {{ form.Cantidad_de_Habilitados }}</td>
            </tr>
            <tr>
                <td>Instituto o Localidad: {{ form.Instituto_o_Localidad }}</td>
                <td>Estado: {{ form.Estado }}</td>
            </tr>
        </table>
        {% if request.resolver_match.view_name == 'actualizar_expediente' %}
            <table class='table borderless'>
                <td>Fecha de Disposición: {{ form.Fecha_de_disposición }} </td>
            </table>
        {% endif %}
        <table class="table table-borderless">
            <tr>
                <td class="observaciones-label">Observaciones:</td>
                <td>{{ form.observaciones }}</td>
            </tr>
        </table>
    </div>

        <input class="btn btn-primary" type="submit" value="Cargar">
    </form>
    <p></p>
</div>

{% endblock %}
