{% extends 'Base_datos/base.html' %}

{% block contenido %}

<h1 style="text-align: center; font-weight: bold;">Expedientes</h1>

<p style="padding-bottom: 1%;"></p>

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_expediente' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-clipboard-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Nuevo Expediente</h2>
                            <p class="mb-0">Alta de nuevo Expediente</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_expedientes' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Expedientes en Curso</h2>
                            <p class="mb-0">Expedientes que se encuentran en estado de tramitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carnets' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-checklist"></i></div>
                            <h2 class="fs-4 fw-bold">Carnets a realizar</h2>
                            <p class="mb-0">Expedientes con Disposición firmada, a la espera del armado del carnet habilitante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'expedientes_finalizados' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Expedientes en Finalizados</h2>
                            <p class="mb-0">Expedientes con trámite finalizado</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'meta' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-clipboard-data"></i></div>
                            <h2 class="fs-4 fw-bold">Metas Anuales</h2>
                            <p class="mb-0">Cantidad de Habilitados por carrera, por trimestre y por año</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
            </div>
        </div>
    </div>
</section>

{% endblock %}