{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between; align-items: center;">
    <h2 style="font-weight: bold; margin: 0;">Expedientes en Curso</h2>
    <a class="btn btn-primary btn-lg" style="justify-content: flex-end;" href="{% url 'expedientes' %}" type="submit">Volver</a>
</div>

<div style="text-align: center;">
    
    <h3>
        Interesados totales en trámite: {{ totales }}
    </h3>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <!-- Botones de filtro por estado -->
    <div style="margin-bottom: 20px; text-align: center;">
        <a href="?estado=Armado ISER" class="btn btn-success">Filtrar por Armado</a>
        <a href="?estado=Revisión ISER" class="btn btn-info">Revisión ISER</a>
        <a href="?estado=Revisión DNSA" class="btn btn-info">Revisión DNSA</a>
        <a href="?estado=Esperando Dictamen" class="btn btn-warning">Filtrar por Jurídicos</a>
        <a href="?estado=Firma de Disposición" class="btn btn-warning">Firma</a>

        <a href="?" class="btn btn-secondary">Mostrar Todos</a>
    </div>

    <!-- Tabla de expedientes -->
    <table class='table borderless' style="width: 95%; margin-left: 5%;">
        <thead style="text-align: center">
            <tr>
                <th style="font-size: 0.8em;">Expediente</th>
                <th style="font-size: 0.8em;">Categoría</th>
                <th style="font-size: 0.8em;">Interesados</th>
                <th style="font-size: 0.8em;">Instituto o Localidad</th>
                <th style="font-size: 0.8em;">Fecha de Caratulación</th>
                <th style="font-size: 0.8em;">Estado</th>
                <th style="font-size: 0.8em;">Responsable</th>
                <th style="font-size: 0.8em;">Fecha de Asigación</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
            {% for exp in object_list %}
                <tr>
                    <td style="padding-bottom: 1%; font-size: 0.8em;">EX-{{exp.Año_de_Expediente}}-{{exp.Número_de_Expediente}}- -APN-SDYME#ENACOM</td>
                    <td style="text-transform: uppercase; padding-bottom: 1%; font-size: 0.8em;">{{exp.Categoría}}</td>
                    <td style="text-transform: uppercase; padding-bottom: 1%; font-size: 0.8em;">{{exp.Cantidad_de_Habilitados}}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%; font-size: 0.8em;">{{exp.Instituto_o_Localidad}}</td>
                    <td style="padding-bottom: 1%; font-size: 0.8em;">{{ exp.Fecha_de_Creación}}</td>
                    <td style="padding-bottom: 1%; font-size: 0.8em;">{{exp.Estado}}</td>
                    <td style="text-transform: uppercase; padding-bottom: 1%; font-size: 0.8em;">{{exp.usuario}}</td>
                    <td style="padding-bottom: 1%; font-size: 0.8em;">{{exp.fecha_asignado}}</td>
                    <td style="padding-bottom: 1%;">
                        <a class="link" style="font-size: 0.8em;" href="{% url 'actualizar_expediente' exp.id %}" type="submit">Abrir</a>
                        {% if user.is_superuser %}
                            -
                            <a class="link" style="font-size: 0.8em;" href="{% url 'borrar_expediente' exp.id %}" type="submit">Borrar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div style='text-align: center;'>
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page=1{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">&laquo; primera</a>
                <a href="?page={{ object_list.previous_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">anterior</a>
            {% endif %}

            <span class="current-page">
                Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">siguiente</a>
                <a href="?page={{ object_list.paginator.num_pages }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<p></p>
{% endblock %}