{% extends 'Base_datos/base.html' %}

{% block contenido %}
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'locutores_nacionales' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-mic-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Locutores Nacionales</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Locutores Nacionales</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'locutores_locales' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-mic"></i></div>
                            <h2 class="fs-4 fw-bold">Locutores Locales</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Locutores Locales</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'operadores_nacionales' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-gear-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Nacionales</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Operadores Nacionales</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'operadores_locales' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-gear"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Operadores Locales</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'productores_y_directores' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-megaphone-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Productores y Directores</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Productores y Directores</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'guionistas' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-stickies-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Guionistas</h2>
                            <p class="mb-0">Crear, visualizar estados y acceder a listados de Guionistas</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'expedientes' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">Expedientes</h2>
                            <p class="mb-0">Crear, consultar estados y acceder a listados de Expedientes</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'correo' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-envelope"></i></div>
                            <h2 class="fs-4 fw-bold">Correo</h2>
                            <p class="mb-0">Envío y estados de correo de carnets</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'libros' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-book"></i></div>
                            <h2 class="fs-4 fw-bold">Libros de Actas</h2>
                            <p class="mb-0">Libros de ingreso y habilitación de los institutos adscriptos</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}