{% extends 'Base_datos/base.html' %}

{% block contenido %}

<div style="margin: 1%; width: 95%; display: flex">
    <div>
        <h2 style="font-weight: bold">Locutores Locales Habilitados</h2>
    </div>
    <div style="margin-left: 58%;">
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'locutores_locales' %}" type="submit">Volver</a>
    </div>
</div>
<div style="margin: 0; padding: 0; display: grid ;place-items: center">
    <table style="width: 95%; margin-left: 5%">
        <thead>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Habilitación</th>
            <th>Localidad</th>
            <th>Provincia</th>
            <th>Expediente</th>
            <th>Disposición</th>
            <th>Documentación</th>
         </thead>
        <tbody>
            {% for locutor_local in object_list %}
                {% if locutor_local.disposicion %}
                <tr>
                    <td style="padding-bottom: 1%">{{locutor_local.apellido}}</td>
                    <td>{{locutor_local.nombre}}</td>
                    <td>{{locutor_local.dni}}</td>
                    <td>{{locutor_local.habilitacion}}</td>
                    <td>{{locutor_local.localidad}}</td>
                    <td>{{locutor_local.provincia}}</td>
                    <td>{{locutor_local.expediente}}</td>
                    <td>{{locutor_local.disposicion}}</td>
                    <td>
                        <a class="link" href="{% url 'ver_locutor_local' locutor_local.id %}" type="submit">Abrir</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<p></p>

{% endblock %}