{% extends 'Base_datos/base.html' %}

{% block contenido %}

  <h1 style="text-align: center;">Locutor/a local</h1>

  <hr>

  <div style="padding-left: 5%;">
    <div style="padding-bottom: 1%;">
        <h2 style="font-weight: bold; margin-right: 10px;">Apellido y Nombre: <span style="text-transform: uppercase;">{{locutor_local.apellido}}</span>, {{locutor_local.nombre}}</h2>
    </div>
    <div style="padding-bottom: 1%;">
      <h1>Expediente: EX-{{locutor_local.año_expediente}}-{{locutor_local.número_expediente}}-APN-SDYME#ENACOM</h1>
    </div>
    <div style="padding-bottom: 1%;">
      <h2 style="margin-right: 10px;">Documento N°: {{locutor_local.DNI}} - Habilitación: {{locutor_local.habilitación}} - Disposición: DI-{{locutor_local.año_disposición}}-{{locutor_local.número_disposición}}-APN-DNSA#ENACOM</h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2 style="margin-right: 10px;">Localidad: {{locutor_local.localidad}} - Provincia: {{locutor_local.provincia}}</h2>
      </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.formulario %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Formulario de datos personales:
          <a href="{{ locutor_local.formulario.url }}" target="_blank">{{locutor_local.formulario}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Formulario de datos personales: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.pdf_dni %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Copia del D.N.I.:
          <a href="{{locutor_local.pdf_dni.url }}" target="_blank">{{locutor_local.pdf_dni}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Copia del D.N.I.: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.pdf_secundario %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Secundario: {{locutor_local.secundario}} -
          <a href="{{ locutor_local.pdf_secundario.url }}" target="_blank">{{locutor_local.pdf_secundario}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Secundario: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.certificado %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Certificado:
          <a href="{{locutor_local.certificado.url}}" target="_blank">{{locutor_local.certificado}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Certificado: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.acta %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acta de examen:
          <a href="{{locutor_local.acta.url}}" target="_blank">{{locutor_local.acta}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acta de examen: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if locutor_local.acuse %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acuse de Recibo:
          <a href="{{locutor_local.acuse.url}}" target="_blank">{{locutor_local.acuse}}</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acuse de Recibo: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%; display: flex; justify-content: flex-end; margin-right: 10px; margin-top: 10px;">
      <a class="btn btn-primary btn-lg" href="{% url 'actualizar_ll' locutor_local.id %}" type="submit" style="margin-right: 10px;">Actualizar</a>
    </div>
  </div>
{% endblock %}