{% extends 'Base_datos/base.html' %}

{% block contenido %}

<h1 style="text-align: center;">Operador/a Local de TV</h1>

<p></p>

<div style="padding-left: 5%;">
    <div style="padding-bottom: 1%;">
        <h1>
            Expediente:
            EX-{{operador_local_tv.año_expediente}}-{{operador_local_tv.número_expediente}}- -APN-SDYME#ENACOM
        </h1>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Apellido y Nombre:
            {{operador_local_tv.apellido}}, {{operador_local_tv.nombre}}
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Documento N°: {{operador_local_tv.DNI}} - Habilitación: {{operador_local_tv.habilitación}} - Disposición: DI-{{operador_local_tv.año_disposición}}-{{operador_local_tv.número_disposición}}-APN-DNSA#ENACOM
        </h2>
        <h2>
            Localidad: {{operador_local_tv.localidad}} - Provincia: {{operador_local_tv.provincia}} 
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Formulario de datos personales:
            {% if operador_local_tv.formulario %}
                <a href="{{ operador_local_tv.formulario.url }}" target="_blank">
                    {{operador_local_tv.formulario}}
                </a>
            {% endif %}
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Copia del D.N.I.:
            {% if operador_local_tv.pdf_dni %}
                <a href="{{ operador_local_tv.pdf_dni.url }}" target="_blank">
                    {{operador_local_tv.pdf_dni}}
                </a>
            {% endif %}
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Secundario: {{operador_local_tv.secundario}} - 
            {% if operador_local_tv.pdf_secundario %}
                <a href="{{ operador_local_tv.pdf_secundario.url }}" target="_blank">
                    {{operador_local_tv.pdf_secundario}}
                </a>
            {% endif %}
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Certificado:
            {% if operador_local_tv.certificado %}
            <a href="{{ operador_local_tv.certificado.url }}" target="_blank">
                {{operador_local_tv.certificado}}
            </a>
        {% endif %}
        </h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2>
            Acta de examen:
            {% if operador_local_tv.acta %}
            <a href="{{ operador_local_tv.acta.url }}" target="_blank">
                {{operador_local_tv.acta}}
            </a>
            {% endif %}
        </h2>
        <p>
            </thead>
                <a class="btn btn-primary btn-lg" style="margin-left: 90%;" href="{% url 'actualizar_operador_local_tv' operador_local_tv.id %}" type="submit">Actualizar</a>
            </thead>
        </p>
    </div>
    <p></p>
</div>
    
{% endblock %}