{% extends 'Base_datos/base.html' %}

{% block contenido %}

<h1 style="text-align: center; font-weight: bold;">Operadores Nacionales</h1>

<p style="padding-bottom: 1%;"></p>

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_radio' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a de Radio Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprn_completos' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Radio para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprn_completos_exp' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Radio en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuentan con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprn_incompletos' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Radio Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_nacional_radio' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-soundwave"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Radio Habilitados</h2>
                            <p class="mb-0">Listado de Operadores Nacionales de Estudio de Servicios de Comunicación Audiovisual - Radio</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_tv' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a de TV Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvn_completos' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de TV para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvn_completos_exp' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de TV en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuentan con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvn_incompletos' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de TV Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_nacional_tv' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-display"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de TV Habilitados</h2>
                            <p class="mb-0">Listado de Operadores Nacionales de Estudio de Servicios de Comunicación Audiovisual - TV</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_planta' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a de Planta Transmisora Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantan_completos' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Planta Transmisora para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantan_completos_exp' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Planta Transmisora en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuentan con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantan_incompletos' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Planta Transmisora Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_nacional_planta' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-broadcast-pin"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores de Planta Transmisora Habilitados</h2>
                            <p class="mb-0">Listado de Operador Técnico Nacional de Planta Transmisora de Servicios de Comunicación Audiovisual</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}