{% extends 'Base_datos/base.html' %}

{% block contenido %}

<style>
    /* Define el tamaño de las cajas de entrada */
    .input-small {
        width: 70px; /* Define el ancho deseado */
    }
    .input-medium {
        width: 110px; /* Define el ancho deseado */
    }
    .input-large {
        width: 150px; /* Define el ancho deseado */
    }
</style>

<div class='container'>
    <h1 class="mt-4 text-center">Operador/a Nacional - Planta Transmisora</h1>
    <p></p>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class='row justify-content-center'>
            <div class='col-12 col-md-auto py-3'>
                Apellido: {{ form.apellido }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                Nombre: {{ form.nombre }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                Documento N°: {{ form.DNI }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                IF-{{ form.año_dni }}-{{form.pdf_dni}}-APN-ACAD#ENACOM {{ form.chequeo_dni }}
            </div>
        </div>
        
        <div class='row justify-content-center'>
            <div class='col-12 col-md-auto py-3'>
                Formulario: IF-{{ form.año_formulario }}-{{ form.formulario }}-APN-ACAD#ENACOM {{ form.chequeo_formulario }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                Secundario: IF-{{ form.secundario }}-{{ form.pdf_secundario }}-APN-ACAD#ENACOM {{ form.chequeo_secu }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                Habilitación: {{ form.habilitación }}
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-12 col-md-auto py-3'>
                Instituto: {{ form.instituto }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                IF-{{ form.año_instituto }}-{{ form.pdf_instituto }}-APN-ACAD#ENACOM {{ form.chequeo_insti }}
            </div>
            <div class='col-12 col-md-auto py-3'>
                Acta de Examen: IF-{{ form.año_acta }}-{{ form.acta }}-APN-ACAD#ENACOM
            </div>
        </div>
        
        <div class='row justify-content-center'>
            <div class='col-12 col-md-auto py-3'>
                Expediente: EX-{{ form.año_expediente }}-{{ form.número_expediente }}- -APN-SDYME#ENACOM {{ form.chequeo_expediente }}
            </div>
            {% if request.resolver_match.view_name == 'actualizar_operador_nacional_planta' %}
                <div class='col-12 col-md-auto py-3'>
                    Disposición: DI-{{ form.año_disposición }}-{{ form.número_disposición }}-APN-DNSA#ENACOM
                </div>
            {% endif %}
        </div>

        {% if request.resolver_match.view_name == 'actualizar_operador_nacional_planta' %}
            <div class='row justify-content-center'>
                <div class='col-12 col-md-auto py-3'>
                    Acuse de Recibo: IF-{{ form.año_acuse }}-{{ form.acuse }}- -APN-ACAD#ENACOM
                </div>
                <div class='col-12 col-md-auto py-3'>
                    Se guardó en caja: {{ form.caja }}
                </div>
            </div>
        {% endif %}
        
        <div class='row justify-content-center'>
            <div class='col-12 col-md-auto py-3 align-self-start'>
                Observaciones:
            </div>
            <div class='col-12 col-md-auto py-3 align-self-end'>
                {{ form.observaciones }}
            </div>
        </div>
        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Cargar</button>
        </div>
    </form>
    <p></p>
</div>
<div></div>
{% endblock %}