{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between;">
    <div>
        <h2 style="font-weight: bold;">Operadores Locales de Planta Transmisora en Trámite de Habilitación</h2>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'operadores_locales' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <table style="width: 95%; margin-left: 5%;">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Habilitación</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Expediente</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for operador_local_planta in opplantalc_exp %}
                {% if operador_local_planta.formulario and operador_local_planta.pdf_dni and operador_local_planta.pdf_secundario and operador_local_planta.certificado and operador_local_planta.acta and operador_local_planta.año_expediente and operador_local_planta.número_expediente %}
                    {% if not operador_local_planta.número_disposición %}
                        <tr>
                            <td style="text-transform: uppercase; padding-bottom: 1%;">{{ operador_local_planta.apellido }}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.nombre }}</td>
                            <td style="padding-bottom: 1%;">{{ operador_local_planta.DNI }}</td>
                            <td style="padding-bottom: 1%;">{{ operador_local_planta.habilitación }}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.localidad }}</td>
                            <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.provincia }}</td>
                            <td style="padding-bottom: 1%; font-size: small;">EX-{{ operador_local_planta.año_expediente }}-{{ operador_local_planta.número_expediente }}- -APN-SDYME#ENACOM</td>
                            <td style="padding-bottom: 1%;">
                                <a class="link" href="{% url 'ver_operador_local_planta' operador_local_planta.id %}" type="submit">Abrir</a>
                                -
                                <a class="link" href="{% url 'actualizar_operador_local_planta' operador_local_planta.id %}" type="submit">Actualizar</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif%}
            {% endfor %}
        </tbody>
    </table>
</div>
<p></p>
{% endblock %}