{% extends 'Base_datos/base.html' %}

{% block contenido %}

<h1 style="text-align: center; font-weight: bold;">Operadores Locales</h1>

<p style="padding-bottom: 1%;"></p>

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_radio_local' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a Local de Radio Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprl_completos' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Radio para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprl_completos_exp' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Radio en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuenta con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'oprl_incompletos' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Radio Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_local_radio' %}">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-soundwave"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Radio Habilitados</h2>
                            <p class="mb-0">Listado de Operadores Locales de Estudio de Servicios de Comunicación Audiovisual - Radio Habilitados</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_tv_local' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a Local de TV Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvl_completos' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de TV para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvl_completos_exp' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de TV en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuenta con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'optvl_incompletos' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de TV Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_local_tv' %}">
                            <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-display"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de TV Habilitados</h2>
                            <p class="mb-0">Listado de Operadores Locales de Estudio de Servicios de Comunicación Audiovisual - TV Habilitados</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'carga_operador_planta_local' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-plus"></i></div>
                            <h2 class="fs-4 fw-bold">Cargar Operador/a Local de Planta Transmisora Nuevo/a</h2>
                            <p class="mb-0">Alta de nuevo aspirante</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantal_completos' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-check2-square"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Planta Transmisora para Habilitar</h2>
                            <p class="mb-0">Aspirantes con documentación completa</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantal_completos_exp' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Planta Transmisora en Trámite</h2>
                            <p class="mb-0">Aspirantes que cuenta con Expediente de Habilitación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantal_incompletos' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Planta Transmisora Incompletos</h2>
                            <p class="mb-0">Aspirantes que deben documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'opplantal_archivo' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-ui-checks-grid"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Planta Transmisora para archivar</h2>
                            <p class="mb-0">Aspirantes fuera del plazo de entrega de documentación</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <a class="nav-link" href="{% url 'lista_operador_local_planta' %}">
                            <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-broadcast-pin"></i></div>
                            <h2 class="fs-4 fw-bold">Operadores Locales de Planta Transmisora Habilitados</h2>
                            <p class="mb-0">Listado de Operadores Técnicos Locales de Planta Transmisora de Servicios de Comunicación Audiovisual Habilitados </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}