{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between;">
    <div>
        <h2 style="font-weight: bold;">Operadores Locales de Planta Transmisora Pendientes de Habilitar</h2>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'operadores_locales' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <table style="width: 95%; margin-left: 5%;">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Habilitación</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for operador_local_planta in opplantalc %}
                <tr>
                    <td style="text-transform: uppercase; padding-bottom: 1%;">{{ operador_local_planta.apellido }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.nombre }}</td>
                    <td style="padding-bottom: 1%;">{{ operador_local_planta.DNI }}</td>
                    <td style="padding-bottom: 1%;">{{ operador_local_planta.habilitación }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.localidad }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_planta.provincia }}</td>
                    <td style="padding-bottom: 1%;">
                        <a class="link" href="{% url 'ver_operador_local_planta' operador_local_planta.id %}" type="submit">Abrir</a>
                        -
                        <a class="link" href="{% url 'actualizar_operador_local_planta' operador_local_planta.id %}" type="submit">Actualizar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style='text-align: center;'>
        <span class="step-links">
            {% if opplantalc.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ opplantalc.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current-page">
                Página {{ opplantalc.number }} de {{ opplantalc.paginator.num_pages }}
            </span>

            {% if opplantalc.has_next %}
                <a href="?page={{ opplantalc.next_page_number }}">siguiente</a>
                <a href="?page={{ opplantalc.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<p></p>
{% endblock %}