{% extends 'Base_datos/base.html' %}

{% block contenido %}

  <h1 style="text-align: center;">Operador/a Técnico Local de Planta Transmisora de Servicios de Comunicación Audiovisual</h1>

  <hr>

  <div style="padding-left: 5%;">
    <div style="padding-bottom: 1%;">
        <h2 style="font-weight: bold; margin-right: 10px;">Apellido y Nombre: <span style="text-transform: uppercase;">{{operador_local_planta.apellido}}</span>, {{operador_local_planta.nombre}}</h2>
    </div>
    <div style="padding-bottom: 1%;">
      <h1>Expediente: EX-{{operador_local_planta.año_expediente}}-{{operador_local_planta.número_expediente}}- -APN-SDYME#ENACOM</h1>
    </div>
    <div style="padding-bottom: 1%;">
      <h2 style="margin-right: 10px;">Documento N°: {{operador_local_planta.DNI}} - Habilitación: {{operador_local_planta.habilitación}} - Disposición: DI-{{operador_local_planta.año_disposición}}-{{operador_local_planta.número_disposición}}-APN-DNSA#ENACOM</h2>
    </div>
    <div style="padding-bottom: 1%;">
        <h2 style="margin-right: 10px;">Localidad: {{operador_local_planta.localidad}} - Provincia: {{operador_local_planta.provincia}}</h2>
      </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.chequeo_formulario %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Formulario de datos personales:
          <a>IF-{{operador_local_planta.año_formulario}}-{{operador_local_planta.formulario}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Formulario de datos personales: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.chequeo_dni %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">D.N.I.:
          <a>IF-{{operador_local_planta.año_dni}}-{{operador_local_planta.pdf_dni}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">D.N.I.: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.chequeo_secu %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Secundario: {{operador_local_planta.secundario}} -
          <a>IF-{{operador_local_planta.secundario}}-{{operador_local_planta.pdf_secundario}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Secundario: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.chequeo_certi %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Certificado:
          <a>IF-{{operador_local_planta.año_certificado}}-{{operador_local_planta.certificado}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Certificado: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.año_acta and operador_local_planta.acta %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acta de examen:
          <a>IF-{{operador_local_planta.año_acta}}-{{operador_local_planta.acta}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acta de examen: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%;">
      {% if operador_local_planta.año_acuse and operador_local_planta.acuse %}
      <div style="background-color: #c2f0c2; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acuse de Recibo:
          <a>IF-{{operador_local_planta.año_acuse}}-{{operador_local_planta.acuse}}-APN-ACAD#ENACOM</a>
        </h2>
      </div>
      {% else %}
      <div style="background-color: #fff7ae; padding: 10px; margin-bottom: 10px; border-radius: 5px; display: inline-block;">
        <h2 style="margin-right: 10px;">Acuse de Recibo: No disponible</h2>
      </div>
      {% endif %}
    </div>
    <div style="padding-bottom: 1%; display: flex; justify-content: flex-end; margin-right: 10px; margin-top: 10px;">
      <a class="btn btn-primary btn-lg" href="{% url 'actualizar_operador_local_planta' operador_local_planta.id %}" type="submit" style="margin-right: 10px;">Actualizar</a>
    </div>
  </div>
{% endblock %}
