{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex">
    <div>
        <h2 style="font-weight: bold">Operadores Nacionales de Planta Transmisora Incompletos</h2>
    </div>
    <div style="margin-left: auto;">
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'operadores_nacionales' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid ;place-items: center">
    <table style="width: 95%; margin-left: 5%">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Habilitación</th>
                <th>Instituto</th>
                <th>Expediente</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for operador_nacional_planta in opplantan %}
                {% if not operador_nacional_planta.número_disposición %}
                <tr>
                    <td style="text-transform: uppercase; padding-bottom: 1%">{{ operador_nacional_planta.apellido }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_nacional_planta.nombre }}</td>
                    <td style="padding-bottom: 1%;">{{ operador_nacional_planta.DNI }}</td>
                    <td style="padding-bottom: 1%;">{{ operador_nacional_planta.habilitación }}</td>
                    <td style="text-transform: uppercase; padding-bottom: 1%;">{{ operador_nacional_planta.instituto }}</td>
                    <td style="padding-bottom: 1%; font-size: small;">EX-{{ operador_nacional_planta.año_expediente }}-{{ operador_nacional_planta.número_expediente }}- -APN-SDYME#ENACOM</td>
                    <td style="padding-bottom: 1%;">
                        <a class="link" href="{% url 'ver_operador_nacional_planta' operador_nacional_planta.id %}" type="submit">Abrir</a>
                        -
                        <a class="link" href="{% url 'actualizar_operador_nacional_planta' operador_nacional_planta.id %}" type="submit">Actualizar</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<p></p>
{% endblock %}