{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between;">
    <div>
        <h2 style="font-weight: bold;">Operadores Locales de Radio Incompletos</h2>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'operadores_locales' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <table class='table borderless' style="width: 95%; margin-left: 5%;">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Expediente</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for operador_local_radio in oprl %}
                <tr>
                    <td style="text-transform: uppercase; padding-bottom: 1%;">{{ operador_local_radio.apellido }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_radio.nombre }}</td>
                    <td style="padding-bottom: 1%;">{{ operador_local_radio.DNI }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_radio.localidad }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_radio.provincia }}</td>
                    <td style="padding-bottom: 1%; font-size: small;">EX-{{ operador_local_radio.año_expediente }}-{{ operador_local_radio.número_expediente }}- -APN-SDYME#ENACOM</td>
                    <td style="padding-bottom: 1%;">
                        <a class="link" href="{% url 'ver_operador_local_radio' operador_local_radio.id %}" type="submit">Abrir</a>
                        -
                        <a class="link" href="{% url 'actualizar_operador_local_radio' operador_local_radio.id %}" type="submit">Actualizar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style='text-align: center;'>
        <span class="step-links">
            {% if oprl.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ oprl.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current-page">
                Página {{ oprl.number }} de {{ oprl.paginator.num_pages }}
            </span>

            {% if oprl.has_next %}
                <a href="?page={{ oprl.next_page_number }}">siguiente</a>
                <a href="?page={{ oprl.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<p></p>
{% endblock %}