{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex; justify-content: space-between;">
    <div>
        <h2 style="font-weight: bold;">Operadores Locales de TV Incompletos</h2>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'operadores_locales' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid; place-items: center;">
    <table style="width: 95%; margin-left: 5%;">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Habilitación</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Expediente</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for operador_local_tv in optvl %}
                {% if not operador_local_tv.formulario or not operador_local_tv.pdf_dni or not operador_local_tv.pdf_secundario or not operador_local_tv.certificado or not operador_local_tv.acta %}
                    <tr>
                        <td style="text-transform: uppercase; padding-bottom: 1%;">{{ operador_local_tv.apellido }}</td>
                        <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_tv.nombre }}</td>
                        <td style="padding-bottom: 1%;">{{ operador_local_tv.DNI }}</td>
                        <td style="padding-bottom: 1%;">{{ operador_local_tv.habilitación }}</td>
                        <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_tv.localidad }}</td>
                        <td style="text-transform: capitalize; padding-bottom: 1%;">{{ operador_local_tv.provincia }}</td>
                        <td style="padding-bottom: 1%; font-size: small;">EX-{{ operador_local_tv.año_expediente }}-{{ operador_local_tv.número_expediente }}- -APN-SDYME#ENACOM</td>
                        <td style="padding-bottom: 1%;">
                            <a class="link" href="{% url 'ver_operador_local_tv' operador_local_tv.id %}" type="submit">Abrir</a>
                            -
                            <a class="link" href="{% url 'actualizar_operador_local_tv' operador_local_tv.id %}" type="submit">Actualizar</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<p></p>
{% endblock %}