{% extends 'Base_datos/base.html' %}

{% block contenido %}
<div style="margin: 1%; width: 95%; display: flex">
    <div>
        <h2 style="font-weight: bold">Productores y Directores Incompletos</h2>
    </div>
    <div style="margin-left: auto;">
        <a class="btn btn-primary btn-lg" style="justify-content: right;" href="{% url 'productores_y_directores' %}" type="submit">Volver</a>
    </div>
</div>

<div style="margin: 0; padding: 0; display: grid ;place-items: center">
    <table class='table borderless' style="width: 95%; margin-left: 5%">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Documento N°</th>
                <th>Instituto</th>
                <th>Expediente</th>
                <th>Documentación</th>
            </tr>
        </thead>
        <tbody>
            {% for productor in prod %}
                <tr>
                    <td style="text-transform: uppercase; padding-bottom: 1%">{{ productor.apellido }}</td>
                    <td style="text-transform: capitalize; padding-bottom: 1%;">{{ productor.nombre }}</td>
                    <td style="padding-bottom: 1%;">{{ productor.DNI }}</td>
                    <td style="text-transform: uppercase; padding-bottom: 1%;">{{ productor.instituto }}</td>
                    <td style="padding-bottom: 1%; font-size: small;">EX-{{ productor.año_expediente }}-{{ productor.número_expediente }}- -APN-SDYME#ENACOM</td>
                    <td style="padding-bottom: 1%;">
                        <a class="link" href="{% url 'ver_productor' productor.id %}" type="submit">Abrir</a>
                        -
                        <a class="link" href="{% url 'actualizar_prod' productor.id %}" type="submit">Actualizar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style='text-align: center;'>
        <span class="step-links">
            {% if prod.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ prod.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current-page">
                Página {{ prod.number }} de {{ prod.paginator.num_pages }}
            </span>

            {% if prod.has_next %}
                <a href="?page={{ prod.next_page_number }}">siguiente</a>
                <a href="?page={{ prod.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<p></p>
{% endblock %}
